
    body{
        background-color: #121212;
        color: #e0e0e0;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }
    h1{
       text-align: center; 
    }
    p{
        text-align: center;
    }
    img{
        cursor:pointer;
    }
    div{
        text-align: center;
    }
